/** {
    outline: 1px solid red !important;
    }*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
}

body {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: black;
}

#main {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(240, 60, 60, 0.8);
	 width: 100%;
	 max-width: 800px;
}

#locations {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
	 justify-content: space-around;
	 width: 90%;
}

#nav-bar {
	 width: 100%;
}

#header,
#call-to-action,
#ingredients,
#size_selector,
#pizza-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}


#sliding-pizzas-1 {
    will-change: transform;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

#sliding-pizzas-2 {
    will-change: transform;
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
}

#sliding-pizzas-3 {
    will-change: transform;
    z-index: -3;
    position: fixed;
    top: 0;
    left: 0;
}

#sliding-pizzas-4 {
    will-change: transform;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

#sliding-pizzas-5 {
    will-change: transform;
    z-index: -5;
    position: fixed;
    top: 0;
    left: 0;
}

.sliding-pizza {
	 position: fixed;
    z-index: inherit;
}


h2 {
	 width: 100%;
    text-align: center;
}

input {
    background: grey;
    font-size: 18px;
}

#pizza-size {
    font-weight: 800;
	 width: 100%;
}

#pizzeria-image {
    width: 50%;
    height: 50%;
}


#menu-item-template {
	 display: none;
}
.menu-item {
    display: flex;
    width: 33%;
    transform: scale(1);
}

.menu-item-image {
    width: 50%;
    height: 50%;
}

.menu-item-description {
    font-size: 14px;
}

ul.ingredients-list {
}

/* TODO: add media query for smart phone size
display one menu item per row, just image,
name and no description.  Or perhaps a description
formatted as a paragraph rather than a list.
*/
@media only screen and (max-width: 400px) {

    ul.ingredients-list {
        display: none;
    }

    .menu-item {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        width: 33%;
        transform: scale(1);
    }

    .menu-item-image {
        width: 30%;
        height: 30%;
    }

    .menu-item-description {
        width: 60%;
        font-size: 10px;
    }

}
