<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Pizza Restaurant">
  <meta name="author" content="Al Carruth">
  <title> Pizza </title>
{{styles}}
</head>

<body>

  <div id="main">

	 <div id="header">
		<h1>Al's Pizzeria </h1>
		<div id="nav-bar">
		  <a href="#pizza-menu"> <button>Menu </button> </a>
		  <a href="#ingredients"> <button>Our Ingredients </button> </a>
		  <a href="#locations"> <button>Locations </button> </a>
		  <button onclick="alert('Mmmm... PIZZA!');">Contact Us </button>
		</div>
	 </div>


	 <div id="call-to-action">
		<img id="pizzeria-image" src="images/pizzeria_md.jpg">
		<div class="row">
		  <h2>We Have Hundreds of Pizza Recipes! </h2> 
		  <p> 
			 At Al's Pizzeria, we know you want options. Pepperoni?
			 Boring. Cheese? No way! Sausage? C'mon, let's get creative.
		  </p>
		  <p>
			 We have every pizza ingredient imaginable in our kitchen
			 because we know you take choice seriously. Take a look
			 through our menu of hundreds of pizza options and we know
			 that you'll find something you love.
		  </p>
		</div>
		<div class="row">
		  <a href="#randomPizzas"> <button>Pick a Pizza Now! </button> </a>
		</div>
	 </div> 

	 <div id="ingredients">
		<h2>Ingredients!  </h2>
		<p>
		  We've scoured the planet for the best pizza ingredients. Our
		  crack team of ingredient specialists are on constant lookout
		  for new and interesting pizza ingredients.
		</p>
		<p>
		  We have classic meats like pepperoni, sausage, and
		  barbecue chicken. But you can find even more fun meats like
		  coppa, kielbasa and soylent green on our menu too.
		</p>
		<p> 
		  Not interested in meat? No problem! We love our veggies
		  too :) We have everything from arugula to zucchini.
		</p>
	 </div> 

	 <div id="locations" class="row">
		<h2> Locations!		  </h2>
		<div class="location">
		  <h3>Pizza Road </h3>
		  <p>
			 1800 Pizza Road<br />
			 San Francisco, CA <br/> 
			 01010 <br/>
			 555-555-5555 
		  </p>
		</div>
		<div class="location">
		  <h3>Classic Pie Way </h3>
		  <p> 999 Classic Pie Way <br /> 
			 New York, NY <br />
			 00100 <br />
			 555-555-5555 
		  </p>
		</div>
	 </div>

	 <div id="size_selector">
		<h2>Our Pizzas! </h2>
		<em>
		  What size pizza would you like? Use the slider below to
		  change pizza sizes.
		</em>
		<div id="pizza-size"> Medium  </div>
		<input id="size-slider" type="range" min="1" max="3" value="2" step="1"
				 onchange="resize_pizzas(this.value)">
	 </div>

{{pizza_menu_template}}

	 <div id="footer">Thanks for visiting! &copy; 2014 Udacity </div>
  
	 <div id="sliding-pizzas"> </div>

  </div> <!-- end div#main -->

{{scripts}}

</body>

</html>
