
        <div id="header" class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Cam's Pizzeria</h1>
                        <div class="row">
                            <div id="menu" class="col-md-12">
                                <form action="#randomPizzas">
                                    <input type="submit" value="Menu">
                                </form>
                                <form action="#ingredients">
                                    <input type="submit" value="Our Ingredients">
                                </form>
                                <form action="#locations">
                                    <input type="submit" value="Locations">
                                </form>
                                <form action="#"
                                      onsubmit="alert(
                                                'Thanks for clicking! This button doesn\'t do anything 
                                                because this is a fake pizzeria :\)')">
                                    <input type="submit" value="Contact Us">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="movingPizzas1" class="col-md-6">
            </div>
        </div>
