        <div id="pizzaGenerator" class="row">
            <div class="col-md-12">
                <h2 style="text-align: center">Our Pizzas!</h2>

                <div class="row">
                    <div class="col-md-12">
                        <em>
                            What size pizza would you like? 
                            Use the slider below to change pizza sizes.
                        </em>
                    </div>
                    <div id="pizzaSize" class="col-md-6"> Medium </div>
                    <div class="col-md-12">


                        <input id="sizeSlider" 
                               type="range" min="1" max="3" value="2" step="1" 
                               onchange="resizePizzas(this.value)"></input>
                    </div>
                </div>
            </div>
        </div>
