        <div id="ingredients" class="row">
            <div class="col-md-8 col-md-push-2">

                <div class="row">
                    <div class="col-md-12 centered">
                        <h2>Ingredients!</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p>We've scoured the planet for the best
                            pizza ingredients. Our crack team of
                            ingredient specialists are on constant
                            lookout for new and interesting pizza
                            ingredients.</p>

                        <p>We have classic meats like pepperoni,
                            sausage, and barbecue chicken. But you can
                            find even more fun meats like coppa,
                            kielbasa and soylent green on our menu
                            too.</p>

                        <p>Not interested in meat? No problem! We
                            love our veggies too :) We have everything
                            from arugula to zucchini.</p>
                    </div>
                </div>
            </div>
        </div>
