	 <div id="pizza-menu">
		<script id="pizza-menu-template" type="text/html"> {{# pizzas }} 
		  <div id="{{id}}" class="menu-item">
			 <img class="menu-item-image"	src="{{img_url}}">
			 <div class="menu-item-description">
				<h4> {{ name }} </h4>
				<ul>
				  {{ #ingredients.meats }} 
				  <li> {{.}} </li>
				  {{/ingredients.meats}}
				  {{#ingredients.non_meats}} 
				  <li> {{.}} </li>
				  {{/ingredients.non_meats}}
				  {{#ingredients.cheeses}} 
				  <li> {{.}} </li>
				  {{/ingredients.cheeses}} 
				  <li> {{ingredients.crust}} </li>
				  <li> {{ingredients.sauce}} </li>
				</ul>
			 </div>
		  </div>
		  {{/ pizzas }} 
		</script>
	 </div>
